# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

pass-in-web/node_modules/
pass-in-web/dist/
pass-in-web/.local/g

pass-in-server-node/node_modules/
pass-in-server-node/dist/
pass-in-server-node/.local/
pass-in-server-node/.env